html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

main {
    display: block;
}

body {
    background-color: rgb(255, 253, 245);
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS";
}

h1 {
    font-family: "Comic Sans MS";
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
}

h2 {
    font-family:  "Comic Sans MS";
    font-size: 32px;
    line-height: 1.6;
}

h3, h4, p{
    font-family: "Comic Sans MS";
    line-height: 1.6;
}

.skip a {
    background: rgb(255, 250, 240);
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 2;

    /*Your code here - position relative to the parent */
    position: absolute;
    /*Your code here - place 40px higher */;
    top: -40px;
}

.skip a:focus {
    top: 0;
}


/* --- Navbar --- */

nav {
    font-family: "Comic Sans MS";
    width: 100%;
    z-index: 1;
    font-size: 18px;
}

nav ul {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: rgb(255, 250, 240);
    list-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

nav li a {
    color: #111;
    display: block;
    padding: 16px 14px;
    text-align: center;
    text-decoration: none;
}

nav li {
    float: right;
}

nav li a:hover {
    background-color: rgba(211,190,190,0.6);
}

.current {
    background-color: #d7a3a3;
}

footer {
    background-color: #362e2e;
    color: white;
    padding: 15px;
    text-align: center;
    font-size:16px;
    line-height: 1.2;
}

.socialmedia a{
    color: #f4bfbf;
    text-decoration: none;
}
.socialmedia a:hover{
    text-decoration: underline;
}
.footerContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.footerContent>div{
    margin: 10px;
}



@media all and (min-width: 720px) {
    nav ul {
        flex-direction: row-reverse;
    }

}

@media only screen and (min-width: 1024px) {

    nav ul {
        flex-direction: row-reverse;
        justify-content: flex-start;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto; /* Removes scroll animation */
    }

    .skip a {
        -webkit-transition: none;
        transition: none;
    }
    * {
        animation-duration: 0s;
        transition: none;
        scroll-behavior: auto;;
    }
}